<section>
  <div id="login">
    <div class="wrapper">
      <div class="container">
        <div class="banner-welcome">
          <span class="banner-title"
            >ClinicPaw
            <!-- <img src="../../../assets/img/paw.png" alt="" width="20px" /> -->
          </span>
        </div>
        <div class="box-login">
          <div class="form">
            <form action="">
              <div style="margin: 30px 0; text-align: center">
                <h2 style="font-weight: 500; color: #dd8432">Iniciar sesión</h2>
              </div>
              <div class="flex flex-column gap-2" style="margin: 30px 0">
                <label for="username" style="font-weight: 500; color: #dd8432"
                  >Usuario</label
                >
                <span class="p-input-icon-left">
                  <i class="pi pi-user"></i>
                  <input
                    style="width: 100%"
                    pInputText
                    id="username"
                    aria-describedby="username-help"
                  />
                </span>
              </div>
              <div class="flex flex-column gap-2" style="margin: 30px 0">
                <label for="username" style="font-weight: 500; color: #dd8432"
                  >Contraseña</label
                >
                <span class="p-input-icon-left">
                  <i class="pi pi-lock"></i>
                  <input
                    style="width: 100%"
                    pInputText
                    id="username"
                    aria-describedby="username-help"
                  />
                </span>
                <!-- <small id="username-help"
                    >Enter your username to reset your password.</small
                  > -->
              </div>
              <span style="margin: 30px 0; font-weight: 300"
                >¿Has olvidado tu contraseña?
                <a style="color: #dd8432">Restablecer aquí.</a>
              </span>
              <!-- <p-button label="Submit"></p-button> -->
            </form>
          </div>
          <div class="logo"></div>
        </div>
      </div>
    </div>
  </div>
</section>
